.homepageanchor{
text-decoration:none;
color: white;
}
.mi-title{
position: absolute;
top:90%;
left:5%;
}
.bdy{
background: linear-gradient(to top right, #ff7060,#ff4935, #ff3019);
}
#body-div{
background: linear-gradient(to top right, #ff7060,#ff4935, #ff3019);
}